@import "styles/main.scss";

.about__section {
    padding: pxToEm(20);
    color: $white;
    background-color: $primary;
    display: flex;
    flex-direction: column;
    
    @include tablet {
        padding: pxToEm(40);
        flex-direction: row;
        align-items: center;
    }

    @include desktop {
        padding: 100px 80px;
    }

    h2 {
        text-align: left;
        padding-bottom: pxToEm(10);
        text-align: center;

        @include tablet { 
            text-align: right;
            padding-right: pxToEm(15);
            padding-bottom: 0;
        }
    }

    p {
        text-align: center;
        padding-left: pxToEm(5);

        @include tablet {
            text-align: left;
        }
    }

    > div {
        @include tablet {
            flex: 50%;
        }
    }
}

.services__section {
    background-color: $lightGrey;
    color: $black;
    padding: 20px;

    @include tablet {
        padding: pxToEm(100) pxToEm(80);
    }

    h2, p {
        text-align: center;
    }
    p {
        margin: 0 auto;
        padding-top: pxToEm(15);

        @include tablet {
            max-width: pxToEm(700);
        }
    }
}

.tile__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;

    @include tablet {
        flex-direction: row;
        padding-top: pxToEm(60);
    }
}

.contact__section {
    padding: pxToEm(20);
    color: $black;

    h2 {
        padding-bottom: pxToEm(6);
    }

    h2, .copy {
        text-align: center;
    }

    .copy {
        margin: 0 auto;
        padding-top: pxToEm(15);

        @include tablet {
            max-width: pxToEm(700);
        }
    }

    @include tablet {
        padding: pxToEm(100) pxToEm(80);
    }

    .contact-wrapper {
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
        }
    }

    .contact-us-info {
        order: 2;
        padding-top: pxToEm(20);
       
        @include tablet {
            flex: 50%;
            order: 1;
            padding-top: 0;
        }

        @include desktop {
            flex: 55%;
        }

        .map-container {
            max-width: 100%;
            @include tablet {
                max-width: 600px;
                margin-right: pxToEm(20);
            }

            > div {
                overflow: hidden;
                padding-bottom: 58.5%;
                position: relative;
                height: 0;
            }

            iframe {
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                position: absolute;
            }
        }
    }
    
    .contact__tile-wrapper {
        h3 {
            text-align: center;
        }
    
        .contact-tile {
            display: flex;

            p {
                margin-bottom: 0;
                display: flex;
                align-items: center;
            }

            a {
                margin-left: pxToEm(5);

                &:focus {
                    color: $black;
                }
            }
        }
    
        .contact__icon {
            svg {
                display: block;
                color: $primary;
                margin: 0 auto;
                width: pxToEm(20);
                height: auto;
                padding: pxToEm(10) pxToEm(10) pxToEm(10) 0;
            }
        }
    }
}