@import "styles/main.scss";

* {
	padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    border: 1px solid transparent;
    width: max-content;
    transition: 0.2s ease-in-out;
    outline: none;

    &:focus {
        border: 1px solid $primary;
    }
}

button {
    border: 1px solid transparent;
    &:focus {
        border: 1px solid $black;
    }
}

.hidden {
    display: none;
}

.layout__section {
    margin: 0 auto; 
    color: $white;
    max-width: pxToEm(1200);
    letter-spacing: pxToEm(0.5);
    
    .content-wrapper {
        margin-top: pxToEm(100);

        @include tablet {
            margin-top: pxToEm(110);
        }
    }

    img {
        width: 100%;
    }

    @include mobile {
        max-width: pxToEm(1500);
    }

    h1 {
        font-family: $secondary-font;
        font-weight: 700;
        font-size: pxToEm(45);
        letter-spacing: pxToEm(0.5);
        line-height: 1em;

        @include tablet {
            font-size: pxToEm(60);
        }

        @include desktop {
            font-size: pxToEm(100);
        }
    }

    h2 {
        font-family: $secondary-font;
        font-size: pxToEm(28);
        font-weight: 700;
        letter-spacing: pxToEm(0.6);
        margin: 0;

        @include tablet {
            font-size: pxToEm(35);
        }

        @include desktop {
            font-size: pxToEm(40);
        }
    }

    h3 {
        font-family: $secondary-font;
        font-size: pxToEm(20);
        letter-spacing: pxToEm(1);
        font-weight: 700;

        @include desktop {
            font-size: pxToEm(24);
        }
    }

    p {
        font-family: $primary-font;
        font-weight: 400;
        line-height: pxToEm(30);
        margin-bottom: pxToEm(5);

        @include tablet {
            font-size: pxToEm(16);
        }
  
        a {
            color: $black;
            font-weight: 700;
            text-decoration: underline;

            &:hover {
                color: $primary;
                transition: 0.2s ease-in-out;
            }
        }
    }

    label, input, textarea {
        font-family: $primary-font;
        line-height: pxToEm(30);
        font-size: pxToEm(14);
        resize: none;

        &:focus-visible {
            outline: 1px solid $primary;
            outline-offset: 1px;
        }

        @include tablet {
            font-size: pxToEm(16);
        }
    }

    .btn {
        font-family: $secondary-font;
        padding: 10px 20px;
        outline: none;
        font-weight: 700;
        letter-spacing: pxToEm(1);
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
    }

    .btn-primary {
        background-color: $primary;
        color: $white;
        border: 2px solid transparent;
        transition: 0.2s ease-in-out;
       
        &:hover {
            background-color: $primary-hover;
            color: $white;
            border: 2px solid $primary-hover;
        }

        &:focus {
            outline: 1px solid $primary;
            color: $white;
            outline-offset: 2px;
        }
    }

    li {
        font-family: $primary-font;
        font-size: pxToEm(16);
        padding-bottom: pxToEm(5);
    }

    ul, ol {
        margin-bottom: 0;

        @include tablet {
            padding-top: 0;
        }
    }
}